.wrapper{
    width: 800px;
    margin: 0 auto;
}
.container{
    border: thin solid black;
    position: relative;
    padding: 1%;
    margin: 3%;
}
.title{
    font-weight: bold;
    position: absolute;
    display: block;
    top: -25px;
    background-color: #fff;
    padding:0 2px 0 2px;
    line-height: 15px;
    margin-left: 20px;

}
.taitelbod{
    font-weight: bold;
}
.status{
    margin: 0;
}
.kursiv {
    font-style: italic;
    font-size: 11pt;
    display: block;
    line-height: 5px;
    padding:0 2px 0 2px;
}
.inp{
    display: block;
    position: absolute;
    left:300px;
    margin: 0;
}
table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
}
th {

    border: 4px double black;
}
td {
    border: 4px double black;
}
table.table2{
    margin: auto;
    width: 80%;
    border: 4px double black;
    border-collapse: collapse;
}
table.table2 th {
    border: 4px double black;
}
table.table2 td {
    border: 4px double black;
}
table.table2 tr th{
    text-align: left;
}
table.table3{
    margin: auto;
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
}
table.table3 th {
   border: 2px solid black;
    padding: 5px;
    text-align: left;
}
table.table3 td {
    border: 2px solid black;
    padding: 5px;
}